@import '../variables';

.mp-header {
  display: flex;
  align-items: center;
}
.mp-button {
  height: 4rem;
  min-width: 128px;
  padding: 1rem;
  border-radius: 2rem;
  border: 0;
  background: $theme_primary;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 1rem;
}
.mp-image {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 4rem;
}