@import '../variables';

.mp-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.mp-button {
  height: 4rem;
  min-width: 128px;
  padding: 1rem;
  border-radius: 2rem;
  border: 0;
  background: $theme_primary;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
  transition: box-shadow 0.2s;
}
.mp-button:hover {
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);
}
.mp-button--blue {
  background: #42a5f5
}
.mp-button--darkblue {
  background: #3f51b5;
}
.mp-image {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 4rem;
  margin-right: 1rem;
}
.mp-box {
  height: 100%;
  padding: 1rem;
  overflow-y: auto;
}