@import './variables';

.App {
  text-align: center;
  background: #fafafa;
}

* {
  box-sizing: border-box;
}

.App-logo {
  padding: 0 1rem;
  height: 4rem;
  pointer-events: none;
}

.App-header {
  background-color: white;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #222;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,.1),0 10px 10px -5px rgba(0,0,0,.04);
}

.App-main {
  display: flex;
  height: calc(100vh - 4rem);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search-bar {
  width: calc(100% - 2rem);
  max-width: 512px;
}

.App-postal {
  width: calc(100% - 4.5rem);
  height: 4rem;
  font-size: 1.5rem;
  text-align: center;
  color: #222;
  background-color: white;
}

.search-bar button {
  height: 4rem;
  width: 4rem;
  background: $theme_primary;
  color: white;
  cursor: pointer;
  margin-left: .5rem;
}

.search-bar > * {
  border: 0;
  border-radius: 2rem;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
  transition: box-shadow 0.2s;
}

.search-bar > *:hover, .search-bar > *:focus {
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);
}

.title-bold {
  font-weight: 900;
}

.title-reg {
  font-weight: 400;
}
